body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title,
.content,
.button-container{
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 18px;
}

.content {
  background: #e3f4ff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px 10px;
  font-size: large;
  display: flex;
  margin: auto;
}